/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* GENERAL STYLE */

@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600;700;900&display=swap");

body {
  font-family: "Titillium Web", sans-serif;
}
.container {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}
.border {
  border: 1px solid black;
}

a {
  text-decoration: none;
}
.flex {
  display: flex;
}
.flex-end {
  justify-content: flex-end;
}

.column {
  flex-direction: column;
}
.warp {
  flex-wrap: wrap;
}
.space-between {
  justify-content: space-between;
}
.center {
  justify-content: center;
  align-items: center;
}
.item-center {
  align-items: center;
}
.green {
  color: #b85c5c;
}
.red {
  color: #b85c5c;
}
.gray {
  color: #aaa;
}

/* HEADER */

.header {
  width: 1100px;
  margin: 0 auto;
  align-items: center;
}
.header h1 {
  font-size: 1.3rem;
  font-weight: bold;
  color: #b85c5c;
}

.nav {
  margin: 0.5rem;
}
.nav li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 0.5rem;
}
.nav a {
  padding: 0 0.5rem;
}
.non-auth-nav a {
  padding: 0.5rem 1rem;
}
.logout {
  border: none;
  margin-left: 1rem;
  cursor: pointer;
  background-color: white;
}
.col-1 {
  width: 78%;
}
.col-2 {
  width: 20%;
}
h3 {
  text-align: center;
  margin-top: 1rem;
}
h3 a {
  margin: 0 0.3rem;
}
/* HOME */

.home {
  text-align: center;
}

.home h2 {
  font-size: 3rem;
  margin-top: 4rem;
  margin-bottom: 1rem;
}
.home button {
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  border-color: #b85c5c;
  color: #b85c5c;
  background-color: transparent;
  border: 1px solid #b85c5c;
}
.home button:hover {
  background-color: #b85c5c;
  color: white;
}
/* HERO */

.hero {
  background-color: #b85c5c;
  padding: 2rem;
  text-align: center;
  color: white;
  margin-bottom: 2rem;
}

.hero h1 {
  font-size: 3rem;
  text-align: center;
  font-weight: bold;
  color: white;
  margin: 1rem;
}
/* ARTICLE */

.article img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.article p {
  color: #999;
  margin-bottom: 1rem;
}
.post {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1.5rem 1rem;
}
.post img {
  margin-right: 0.5rem;
}
.post h5 {
  color: #b85c5c;
  font-weight: 600;
}
.post h6 {
  color: #aaa;
  font-size: 0.8rem;
}

.post h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
.post p {
  line-height: 1.3rem;
  color: #999;
}

.post h4 {
  font-size: 0.7rem;
  color: #999;
}
.post h4:hover {
  color: red;
}

.heart i {
  cursor: pointer;
}
.hidden {
  display: none;
}

/* TAGS */

.aside {
  background-color: rgb(243, 243, 243);
  padding: 1rem 0.75rem;
  border-radius: 10px;
}
.aside h2 {
  font-size: 1.1rem;
  margin-bottom: 1rem;
}
.tag {
  border: 1px solid rgb(184, 92, 92, 0.2);
  padding: 2px 5px;
  border-radius: 10px;
  margin: 3px;
  background-color: white;
  color: #b85c5c;
  cursor: pointer;
}

.tag1 {
  border: 1px solid rgb(184, 92, 92, 0.2);
  padding: 2px 5px;
  border-radius: 10px;
  margin: 3px;
  background-color: white;
  color: #b85c5c;
  cursor: pointer;
}

.active-btn {
  color: #b85c5c;
}

.active-tag {
  border: 1px solid #b85c5c;
  padding: 5px;
  border-radius: 10px;
  margin: 3px;
  background-color: #b85c5c;
  color: white;
  cursor: pointer;
}
.tag:hover {
  color: white;
  background-color: #b85c5c;
}

/* SINGLE_ARTICLE */

.single-article {
  background-color: rgb(51, 51, 51);
  padding: 2rem;
  color: white;
  margin-bottom: 2rem;
}
.single-article h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.article-profile {
  color: black;
}
.article-profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.article-profile p {
  color: #fff;
  margin-left: 0.5rem;
}
.article-body {
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.article-body p {
  line-height: 1.8rem;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

/* COMMENT_BOX */

.comment-box {
  max-width: 720px;
  width: 100%;
  margin: 0 auto;
  margin-top: 2rem;
}

.comment-box form {
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}
.comment-box textarea {
  padding: 1rem;
  border: none;
  font-family: "Titillium Web", sans-serif;
}
.comnt-body p {
  padding: 2rem;
}
.post-comment {
  padding: 0.75rem 1.25rem;
  background-color: rgb(245, 245, 245);
}

.post-comment img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.post-comment input {
  background-color: rgb(68, 157, 68);
  color: white;
  border: none;
  font-weight: 700;
  border-radius: 5px;
}
.comnt-info1 p {
  font-size: 0.7rem;
  color: #bbb;
}

.comment {
  max-width: 720px;
  width: 100%;
  margin: 0 auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 1rem;
}
.comment img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.comnt-info {
  background-color: rgb(245, 245, 245);
  padding: 0.75rem 1.25rem;
}
.comnt-info p {
  margin-left: 0.5rem;
}
.no-comnt {
  text-align: center;
  margin-top: 2rem;
}
.delete-comment {
  cursor: pointer;
}
/* PROFILE_BANNER */

.profile-banner {
  background-color: rgb(51, 51, 51);
  color: white;
  padding: 1.5rem;
  margin-bottom: 2rem;
  text-align: center;
}
.profile-banner img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.profile-banner h2 {
  font-size: 1.7rem;
  margin-top: 1rem;
  font-weight: bold;
}
.profile-banner p {
  color: #999;
  font-size: 1.4rem;
  margin-top: 0.8rem;
}
.p-banner-box {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.follow-box {
  text-align: end;
}
.follow-box button {
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  border-color: #b85c5c;
  cursor: pointer;
  color: #b85c5c;
  background-color: transparent;
  border: 1px solid #b85c5c;
  margin-left: 1rem;
}
.follow-box button a {
  color: #b85c5c;
}

.follow-box button:hover {
  background-color: white;
  color: #b85c5c;
}

/* FEED_NAV */
.feed-nav {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 0.5rem;
}
.feed-nav span {
  margin-left: 1rem;
  cursor: pointer;
}

/* NEW_ARTICLE */

.new-article form {
  width: 60%;
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
}

.new-article form input {
  padding: 0.6rem;
  margin-bottom: 0.7rem;
  border-radius: 5px;
  border: 1px solid #d9d9d9;
}
.new-article form textarea {
  margin-bottom: 0.7rem;
  padding: 0.6rem;
  border-radius: 5px;
  border: 1px solid #d9d9d9;
  font-family: "Titillium Web", sans-serif;
}

/* SETTING */

.setting form {
  width: 720px;
  margin: 3rem auto;
}
.setting form legend {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
  text-align: center;
}
.setting form fieldset {
  display: flex;
  flex-direction: column;
}
.setting form fieldset input {
  padding: 0.75rem 1.5rem;
  margin-bottom: 0.6rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.setting form textarea {
  padding: 0.75rem 1.5rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 0.6rem;
}

/* LOGIN */

.login form {
  width: 60%;
  margin: 6rem auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1rem;
}
.login form legend {
  font-size: 2rem;
  text-align: center;
  margin: 2rem 0;
}

.login form a {
  text-align: center;
}

.login form fieldset input {
  padding: 0.5rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  border: 1px solid #d9d9d9;
}
.submit {
  padding: 10px;
  background-color: #b85c5c;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

/* /////// */

/* UPDATE_ARTICLE */

.update-article form legend {
  font-size: 2rem;
  text-align: center;
  margin: 1rem;
}
.update-article form {
  width: 60%;
  margin: 0 auto;
}

.update-article form fieldset input {
  padding: 0.6rem;
  margin-bottom: 0.7rem;
  border-radius: 5px;
  border: 1px solid #d9d9d9;
}

.update-article form fieldset textarea {
  padding: 0.6rem;
  margin-bottom: 0.7rem;
  border-radius: 5px;
  border: 1px solid #d9d9d9;
  font-family: "Titillium Web", sans-serif;
}

/* PAGINATION */
.pagination {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
}

.pagination p {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.pagination-count2 {
  padding: 0.3rem 0.6rem;
  cursor: pointer;
  color: #b85c5c;
  margin: 0.5rem;
  border: 1px solid #b85c5c;
}

.pagination-count2:hover {
  padding: 0.3rem 0.6rem;
  cursor: pointer;
  color: white;
  background-color: #b85c5c;
  margin: 0.5rem;
}

.pagination-count1 {
  padding: 0.3rem 0.6rem;
  cursor: pointer;
  color: white;
  background-color: #b85c5c;
  margin: 0.5rem;
}
